## DATA PREPROCESSING AND DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('askin_disease_dataset.csv')

df.head()

,Patient_ID,Age,Gender,Skin_Color,Disease_Type,Severity,Duration,Affected_Area,Previous_Treatment,Treatment_Effectiveness
0,P00001,69,Female,Dark,Psoriasis,Mild,104,Legs,No,High
1,P00002,32,Male,Dark,Melanoma,Mild,63,Scalp,No,Moderate
2,P00003,89,Female,Fair,Psoriasis,Severe,85,Face,No,Moderate
3,P00004,78,Female,Fair,Acne,Mild,75,Back,Yes,Moderate
4,P00005,38,Male,Dark,Vitiligo,Severe,45,Scalp,No,Moderate

In [3]:
df.tail()

,Patient_ID,Age,Gender,Skin_Color,Disease_Type,Severity,Duration,Affected_Area,Previous_Treatment,Treatment_Effectiveness
2208,P02209,54,Female,Medium,Rosacea,Mild,50,Legs,Yes,Moderate
2209,P02210,71,Female,Dark,Eczema,Severe,75,Face,No,Low
2210,P02211,38,Female,Dark,Vitiligo,Severe,87,Arms,No,Low
2211,P02212,55,Male,Dark,Acne,Severe,58,Face,No,Moderate
2212,P02213,63,Male,Dark,Vitiligo,Moderate,102,Back,Yes,Low

In [4]:
df.shape

(2213, 10)

In [5]:
df.size

22130

In [6]:
df.columns

Index(['Patient_ID', 'Age', 'Gender', 'Skin_Color', 'Disease_Type', 'Severity',
       'Duration', 'Affected_Area', 'Previous_Treatment',
       'Treatment_Effectiveness'],
      dtype='object')

In [7]:
df.isnull()

,Patient_ID,Age,Gender,Skin_Color,Disease_Type,Severity,Duration,Affected_Area,Previous_Treatment,Treatment_Effectiveness
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2208,False,False,False,False,False,False,False,False,False,False
2209,False,False,False,False,False,False,False,False,False,False
2210,False,False,False,False,False,False,False,False,False,False
2211,False,False,False,False,False,False,False,False,False,False
2212,False,False,False,False,False,False,False,False,False,False

In [8]:
df = df.dropna()

In [9]:
df['Disease_Type'].value_counts()

Disease_Type
Eczema       384
Acne         381
Rosacea      372
Melanoma     367
Vitiligo     357
Psoriasis    352
Name: count, dtype: int64

In [10]:
df.describe()

               Age     Duration
count  2213.000000  2213.000000
mean     52.891550    61.717126
std      21.066758    34.305239
min      18.000000     1.000000
25%      34.000000    33.000000
50%      52.000000    62.000000
75%      71.000000    92.000000
max      90.000000   120.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2213 entries, 0 to 2212
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               2213 non-null   object
 1   Age                      2213 non-null   int64
 2   Gender                   2213 non-null   object
 3   Skin_Color               2213 non-null   object
 4   Disease_Type             2213 non-null   object
 5   Severity                 2213 non-null   object
 6   Duration                 2213 non-null   int64
 7   Affected_Area            2213 non-null   object
 8   Previous_Treatment       2213 non-null   object
 9   Treatment_Effectiveness  2213 non-null   object
dtypes: int64(2), object(8)
memory usage: 173.0+ KB

In [12]:
pd.Categorical(df["Disease_Type"]).describe()

            counts     freqs
categories
Acne           381  0.172164
Eczema         384  0.173520
Melanoma       367  0.165838
Psoriasis      352  0.159060
Rosacea        372  0.168098
Vitiligo       357  0.161319